@media screen and (min-width: 760px) {
    body {
        background-image: url(images/bg-desktop.png);
        background-repeat: no-repeat;
        background-size: 100% 50%;
        background-position: bottom;

        .container {
            width: clamp(750px, 70vw, 900px);
            height: clamp(180px, 22vh, 240px);
            flex-direction: row;

            .downloads {
                width: 65%;
                padding: 1.7rem;
            }

            .info {
                height: 80%;
                align-self: flex-end;

                .used {
                    text-align: left;
                }

                .left {
                    height: 4rem;
                    width: 10rem;
                    top: -2rem;
                    left: 60%;
                    z-index: 3;
                    gap: .5rem;

                    h1 {
                        font-size: 2rem;

                    }

                    h3 {
                        font-size: 1rem;
                    }
                }

                .triangle {
                    position: absolute;
                    width: 4rem;
                    height: 4rem;
                    z-index: 1;
                    top: 0;
                    left: calc(60% + 6rem);
                    background-color: white;
                    clip-path: polygon(100% 0, 32% 0, 100% 100%);
                }
            }
        }
    }
}